In [2]:
import numpy as np
import pandas as pd
import json
import os

## Reads `.json` Files and Combines them into `.csv`

In [2]:
df = pd.DataFrame()
for num in np.arange(15, 995, 10):
    lower_bound = str(num)
    upper_bound = str(num + 10)
    filename = lower_bound + "to" + upper_bound + ".json"
    # Check if file is empty
    if os.stat(filename).st_size != 0:    
        some_df = pd.read_json(filename)
        df = pd.concat([df, some_df])

In [3]:
len(df)

6414

In [4]:
df.drop_duplicates(subset='url', keep='first', inplace=True)

In [5]:
len(df)

5796

In [6]:
df.shape

(5796, 37)

In [7]:
df.to_csv('cancun_scrape_5.csv', index=False)

In [8]:
df[df['url'] == 'https://www.airbnb.com/rooms/10823831']

,accuracy,amt_w_service,avg_rating,bathrooms,bedrooms,can_instant_book,checkin,cleanliness,communication,currency,...,price,rate_type,response_rate,response_time,reviews_count,room_type_category,star_rating,url,value,weekly_price_factor
76,10,236,4.8,2.0,2.0,True,10,10,10,CAD,...,236,nightly,100,within an hour,69,entire_home,5.0,https://www.airbnb.com/rooms/10823831,10,1.0

## Reads multiple `.csv` Files and Combines them into one `.csv`

In [4]:
cancun_df = pd.DataFrame()
growth_list = []
for num in np.arange(1, 6):
    filename = "cancun_scrape_{0}.csv".format(num)
    some_df = pd.read_csv(filename)
    
    # Calculate dataframe size before
    prev_size = len(cancun_df)
    
    # Combine dataframes and drop the duplicates
    cancun_df = pd.concat([cancun_df, some_df])
    cancun_df = cancun_df.drop_duplicates(subset='url', keep='first')

    # Calculate dataframe size after
    after_size = len(cancun_df)
    
    # Calculate growth
    growth = after_size - prev_size
    growth_list.append(growth)
    
    print("On iteration {0}, we added {1} new rows".format(num, growth))

On iteration 1, we added 5151 new rows
On iteration 2, we added 144 new rows
On iteration 3, we added 747 new rows
On iteration 4, we added 462 new rows
On iteration 5, we added 169 new rows

In [7]:
cancun_df.shape

(6673, 37)

In [8]:
cancun_df.to_csv('cancun_final.csv', index=False)